<div class="container">
    <div class="row row1">
        <div class="img sec sec1">
            <img src="../../assets/images/eddie_at_work.jpg" alt="">
        </div>
        <div class="sec sec2 text">
            <div class="åbningstider">
                <h2>Åbningstider</h2>
                <p>Mandag: 14 - 17</p>
                <p>Tirsdag - Fredag: 10-17</p>
                <p>Lørdag: 9-14</p>
                <p>Søn: lukket</p>
            </div>
            <div class="kontakt">
                <h2>Kontakt</h2>
                <p>Bernstorffsvej 67, 2900 Hellerup</p>
                <p>Tlf: +45 27 13 55 33</p>
                <p>Email: info@eddiescut.dk</p>
            </div>
        </div>
    </div>
    <div class="row row2">
        <div class="sec sec1 text">
            <h2>25 års erfaring</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, corporis numquam. Inventore repellat tempore pariatur alias minima illum rerum vitae modi reprehenderit, doloribus asperiores porro qui beatae commodi quasi eligendi.
            Dolores eligendi doloremque nobis ipsam, blanditiis ratione praesentium reiciendis neque, sapiente, modi maxime minima sequi natus magni omnis quidem perspiciatis nemo voluptas beatae eos deleniti necessitatibus eveniet delectus officiis! Fugit.
            Culpa provident totam quidem in optio eligendi adipisci eius, sunt facere tenetur tempore voluptatibus at deleniti. Nobis eos quia, neque dolorem impedit quisquam corporis aperiam exercitationem, expedita earum, tempora voluptatem.
            Ut atque esse blanditiis modi perspiciatis earum ad pariatur omnis hic! Dolor autem voluptatem pariatur praesentium ad repudiandae sunt ea reprehenderit soluta quia. Sequi quisquam quos consequuntur suscipit totam recusandae!
            Illo at deleniti unde quasi. Dignissimos molestias repellendus totam autem quas vel minus. Accusamus ducimus consectetur, voluptatum adipisci error at omnis voluptatibus? Porro voluptatum earum inventore obcaecati ipsa soluta at.</p>
        </div>
        <div class="img sec sec2">
            <img src="../../assets/images/eddie_at_work3.jpg" alt="">
        </div>
    </div>
    <div class="row row3">
        <div class="img sec sec1">
            <img src="../../assets/images/eddie_work2.jpg" alt="">
        </div>
        <div class="sec sec2 text">
            <p>Læn dig tilbage i stolen og nyd behandlingen. Eddie er en af Hellerups mest populære frisører og har drevet sin salon siden 2006. Hos Eddies Cut er der altid god stemning og en rar atmosfære. Salonen er beliggende i lyse, venlige lokaler, og frisørerne er professionelle og servicemindede. Hos Eddies Cut bydes du velkommen med gratis kaffe, te og chokolade. Eddies Cut gør deres yderste for at skabe den bedst mulige oplevelse for dig, hver gang du besøger os og står gerne til rådighed med vejledning og anbefalinger til hårprodukter, nye frisurer og styling derhjemme.</p>
        </div>
    </div>
</div>
