<div class="container">
    <div class="row row1">
        <div class="img sec sec1">
            <img loading="lazy" src="../../assets/images/eddie_at_work0_1.webp" alt="">
        </div>
        <div class="sec sec2 text">
            <div class="hours">
                <h2>Åbningstider</h2>
                <p>Mandag: 14 - 17</p>
                <p>Tirsdag - Fredag: 10-17</p>
                <p>Lørdag: 9-14</p>
                <p>Søndag: lukket</p>
            </div>
            <div class="kontakt">
                <h2>Kontakt</h2>
                <p>Bernstorffsvej 67, 2900 Hellerup</p>
                <p>Tlf: +45 27 13 55 33</p>
                <p>Tlf2: +45 39 62 18 51</p>
                <p>Email: info@eddiescut.dk</p>
            </div>
        </div>
    </div>
    <div class="row row2">
        <div class="sec sec1 text">
            <h2>25 års erfaring</h2>
            <p>Besøg Eddies Cut, frisør Hellerup og få en professionel behandling i behagelige omgivelser. Hos Eddies Cut bydes du velkommen med kaffe, te og chokolade samt en rar og uformel stemning. Alle frisører er professionelle, smilende og servicemindede, og de venlige, lyse lokaler sætter de perfekte rammer for en afstressende og behagelig oplevelse. Eddies Cut, frisør Hellerup tilbyder alle former for frisørbehandlinger til både damer, herrer og børn. Eddies Cut, frisør Hellerup – din lokale frisør, for hele familien.</p>
        </div>
        <div class="img sec sec2">
            <img loading="lazy" src="../../assets/images/eddie_at_work3.webp" alt="">
        </div>
    </div>
    <div class="row row3">
        <div class="img sec sec1">
            <img loading="lazy" src="../../assets/images/eddie_work2.webp" alt="">
        </div>
        <div class="sec sec2 text">
            <h2>DIN FRISØR I HELLERUP OG GENTOFTE OMRÅDET</h2>
            <p>Læn dig tilbage i stolen og nyd behandlingen. Eddie er en af Hellerups mest populære frisører og har drevet sin salon siden 2006. Hos Eddies Cut er der altid god stemning og en rar atmosfære. Salonen er beliggende i lyse, venlige lokaler, og frisørerne er professionelle og servicemindede. Hos Eddies Cut bydes du velkommen med gratis kaffe, te og chokolade. Eddies Cut gør deres yderste for at skabe den bedst mulige oplevelse for dig, hver gang du besøger os og står gerne til rådighed med vejledning og anbefalinger til hårprodukter, nye frisurer og styling derhjemme.</p>
        </div>
    </div>
</div>
