<h1>Priser</h1>

<h2>Klip & Maskineklip</h2>
<ul>
    <li class="a"><span>Dameklip, vask og føn</span><span>100,-</span></li>
    <li class="b"><span>Herreklip vask og føn</span><span>100,-</span></li>
    <li class="a"><span>Teenage klip under 18</span><span>100,-</span></li>
    <li class="b"><span>Børneklip under 12</span><span>100,-</span></li>
    <li class="a"><span>Børneklip under 6</span><span>100,-</span></li>
    <li class="b"><span>Maskineklip ens længde</span><span>100,-</span></li>
</ul>

<h2>Farve & Striber</h2>
<ul>
    <li class="a"><span>Balayage</span><span>100,-</span></li>
    <li class="b"><span>Bundfarve</span><span>100,-</span></li>
    <li class="a"><span>Farve kort hår & Refleks</span><span>100,-</span></li>
    <li class="b"><span>Farve skulderlangt</span><span>100,-</span></li>
    <li class="a"><span>Farve ryglangt</span><span>100,-</span></li>
    <li class="b"><span>Striber kort hår</span><span>100,-</span></li>
    <li class="a"><span>Striber skulderlangt</span><span>100,-</span></li>
    <li class="b"><span>Striber ryglangt</span><span>100,-</span></li>
    <li class="a"><span>Bryn</span><span>100,-</span></li>
    <li class="b"><span>Øjenvipper</span><span>100,-</span></li>

</ul>

<h2>Permanent</h2>
<ul>
    <li class="b"><span>Krøller</span><span>100,-</span></li>
    <li class="a"><span>Bølger</span><span>100,-</span></li>
    <li class="b"><span>Fald</span><span>100,-</span></li>
    <li class="a"><span>Glat - Keratin</span><span>100,-</span></li>
    <li class="b"><span>Glat - Japansk </span><span>100,-</span></li>
    <li class="a"><span>Glat - Rebonding</span><span>100,-</span></li>
</ul>

<h2>Hjemme- og Kontorklip</h2>
<ul>
    <li class="b"><span>Klip</span><span>fra 100,-</span></li>
</ul>